  <section id="searchResults">
    {{#if foundPlaylists}}
      <h2>
          {{categoryTitle}}
      </h2>
    {{/if}}

    {{#each foundPlaylists}}
      <section class="ui left aligned middle aligned segment">

        <h3 class="ui header">
            {{title}}
        </h3>

        <p>
          <i class="music icon"></i>
            {{#if songs}}
              Total songs:
              {{songs.length}}

              {{else}}
              Empty playlist!
            {{/if}}
        </p>
        
      </section>
    {{/each}}

  </section>