html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
}

.editSubmit {
  border:none;
  background: none;
}

.hide{
    display: none;
}

.name{
  padding-top:22.5px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}

.bordered {
  border: solid grey 2px;
  padding: 1em;
  background-color: #fffdd0;
  border-radius: 20px;
}

.profilepic{
  padding-top:15px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
}
